* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

main {
    background-color: var(--background);
    height: 90vh;
}