main {
    background-color: var(--background);
    height: 90vh;
}

.block1 {
    justify-content: left;
    align-items: flex-start;
}



.left .profile {
    background-color: var(--surface);
    margin: 20px;
    border-radius: 30px;
}

.left .profile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 18px;
    justify-content: center;
}

.left .profile figure {
    text-align: center;
}

.left .profile figure img {
    width: 120px;
    border-radius: 70px;
    margin: 5px 0;
}

.left .profile figure figcaption .name,
.boxes .box .number {
    font-weight: 600;
    color: var(--text);
    font-size: 1.125em;
    padding-bottom: 5px;
}

.left .profile figure figcaption .user_name,
.boxes .box .caption {
    color: var(--text-secondary);
    font-size: 1em;
    padding-bottom: 20px;
}


.boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boxes .box {
    text-align: center;
    margin: 0 20px; 
}

.left .profile button {
    width: 100%;
    padding: 13px 135px;
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--primary-light);
    border: none;
    margin: 20px 0;
}

.middle .new-post {
    background-color: var(--surface);
    border-radius: 30px;
    margin: 20px;
    width: 580px;
}

.middle .new-post > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.user-picture {
    padding-left: 12px;
    padding-top: 20px;
}

.user-picture img, 
.posts .post .post-author img{
    width: 50px;
    border-radius: 30px;
}

.new-post form {
    margin: 10px;
}

.new-post form .d-flex{
    padding: 15px 15px;
    border: 1px solid var(--border);
    border-radius: 50px;
    width: 500px;
    background-color: var(--border);
}

.new-post form input[type="text"]{
    background: none;
    border: none;
    color: var(--text-secondary);
    width: 100%;
}

.new-post form input[type="submit"]{
    width: 19px;
    height: 19px;
    background: url(/images/main/send_icon.png) no-repeat; 
    background-size: cover;
    border: none;
    cursor: pointer;
}

.new-post form > div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input#file-upload[type="file"] {
    display: none;
}
.file-upload {    
    margin-left: 15px;
    cursor: pointer;
}

.new-post form select{
    border: 1px solid var(--border);
    background: var(--background);
    border-radius: 20px;
    color: var(--text-secondary);
    padding: 8px;
}

.middle .filter {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middle .filter hr {
    width: 430px;
    border-color: var(--background);
}

.middle .filter p {
    font-size: 0.875em;
    color:var(--text-secondary);
}

.middle .filter select {
    border: none;
    background: var(--background);
    color: var(--text);
} 

.middle .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .posts .post {
    background-color: var(--surface);
    border-radius: 30px;
    margin: 20px;
    padding: 20px 15px;
    width: 580px;
}

.posts .post .post-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.posts .post .post-author figcaption {
    margin-left: 7px;
    margin-bottom: 5px;
}

.post-author figcaption .name {
    font-size: 1em;
    color: var(--text);
    font-weight: 600;
}

.post-author figcaption .time {
    font-size: 0.750em;
    color: var(--text-secondary);
}

.content figure {
    max-width: 540px;
}

.content figure img {
    width: 540px;
    border-radius: 20px;
}

.content figure figcaption p {
    margin: 20px 0;
    color: var(--text);
    font-weight: 400;
}

.post .post-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.post-data p {
    margin-right: 40px;
    color: var(--text-secondary);
    font-size: 0.875em;
    display: flex;
    align-items: center;
}

.post-data p img {
    width: 30px;
    margin-right: 5px;
}


