main {
    background-color: var(--background);
    height: 90vh;
}

.left .profile {
    background-color: var(--surface);
    margin: 20px;
    border-radius: 30px;
}

.left .profile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 18px;
    justify-content: center;
}

.left .profile figure {
    text-align: center;
}

.left .profile figure img {
    width: 120px;
    border-radius: 70px;
    margin: 5px 0;
}

.left .profile figure figcaption .name,
.boxes .box .number {
    font-weight: 600;
    color: var(--text);
    font-size: 1.125em;
    padding-bottom: 5px;
}

.left .profile figure figcaption .user_name,
.boxes .box .caption {
    color: var(--text-secondary);
    font-size: 1em;
    padding-bottom: 20px;
}


.boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boxes .box {
    text-align: center;
    margin: 0 20px; 
}

.left .profile button {
    width: 100%;
    padding: 13px 135px;
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--primary-light);
    border: none;
    margin: 20px 0;
}

